
@{
    ViewData["Title"] = "Crafts";
    Layout = "~/Views/Shared/_KidsLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title- Crafts</title>
</head>
<body>
    <h1>Crafts for Kids</h1>
    <div class="text-center">
        <p>My Daughter loves Pearler Beads and Mazes, here are some images you can view for free</p>
        <img src="~/pic/princesspeach.jpg" alt="Princess Peach" height="250" width="250">
        <img src="~/pic/princesspeach.jpg" alt="Princess Peach" height="250" width="250">
        <img src="~/pic/princesspeach.jpg" alt="Princess Peach" height="250" width="250">

    </div>
    <div>
        <label for="PearlerSub">Submit your own pearler Bead images here</label>
        <input type="file"
               id="PearlerSub" name="PearlerImages"
               accept="image/png, image/jpeg">
    </div>

</body>
</html>

