@model List<Jokes>
@{
    ViewData["Title"] = "Jokes";
    Layout = "~/Views/Shared/_JokesLayout.cshtml";
}
    <body>
        <div>
            @foreach (Jokes jokes in Model)
            {
                <h2> @jokes.JokeLine </h2>

            }

            <br />
            <a class="nav-link" asp-controller="Jokes" asp-action="JokeForm">Submit a Joke</a>

        </div>

    </body>

